.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#calendar {
  margin: 5px;
  padding: 5px;
}

#calendar thead td {
  font-weight: bold;
  text-decoration: underline;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  box-sizing: border-box;
}

.eventForm {
  width: 600px;
  margin: auto;
  text-align: left;
  border: solid black 1px;
  padding: 0.5em;
}

.eventForm > .row {
  display: flex;
  flex-direction: row;
}

.eventForm > .row > label {
  flex: initial;
}

.row > input {
  flex: auto;
}

.eventForm textarea {
  width: 100%;
}

.eventForm input {
  display:inline-block;
}

.eventForm label {
  display: inline-block;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #abcdef;
}

#main {
  position: fixed;
  top: 2em;
  bottom: 2em;
  left: 0;
  right: 0;
  overflow: auto;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #abcdef;
}

.ExpiredEventToggle {
  display: inline;
}

.LogoutBox {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  padding: .4em;
}


#footer button {
  margin: .2em;
}

#header-title {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.4em;
  padding: .2em;
}

.duplicateButton {
  cursor: pointer;
}

.duplicateButton:active {
  background-color: royalblue;
}

.gcal-item {
  text-align: left;
}

#gcal-import-list {
  width: 600px;
  margin: auto;
  text-align: left;
  border: solid black 1px;
  padding: 0.5em;
}